<!-- <link rel="stylesheet" type="text/css" href="styles.css" /> -->


<h1>Recipe Book</h1>

<% stuff.forEach(item => { %>

    <div ><%=item.name %></div>
    <img src="<%=item.img %>" height="200" />


        <button id= 'button'>
            <a  href="/<%=item.id%>">Recipe Details</a>

        </button>
        <!-- <a class='button submit font' href="/<%=item.id%>">edit</a> -->
    <% }) %>

    <div >
        <a href="/add">Add</a>
    </div>