<head>
<title>Recipe Book</title>
</head>
<div class = 'container'>
    <div class='row'>
        <div class='col'>
<body class='bg-info'>
    <%- include('../partials/header.ejs') %>

<h2 >Add a new recipe!</h2>

<form class="form" action="/add" method="POST">


    <div style="color:black;" >
        <label  for="name">Name:</label>
        <input  type='text' name='name'/>
        <label  for="recipe">Recipe:</label>
        <input  type='text' name='recipe'/>
        <label  for="instructions">Instructions:</label>
        <input  type='text' name='instructions'/>
        <label  for="isSpicy">Is it Spicy:</label>
        <input  type='text' name='isSpicy'/>
        <label  for="prepTime">Prep Time:</label>
        <input  type='text' name='prepTime'/>
        <label  for="servingSize">Serving Size:</label>
        <input  type='text' name='servingSize'/>
        <label  for="img">Image:</label>
        <input  type='text' name='img'/>
    </div>


    <button class= 'btn btn-warning' style="text-decoration: none;">Submit new recipe!</button>
    <a href="/" style="text-decoration: none;" class='btn btn-warning'>Return to Recipe Book</a>
</div>
</div>
</div>

    <%- include('../partials/footer.ejs') %>

</body>